version: "3.8"
services:
  db:
    image: mysql:8
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    environment:
      MYSQL_USER: gobot
      MYSQL_PASSWORD: gobot
      MYSQL_DATABASE: gobot-pwd
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      DB_HOST: tcp(db:3306)
    volumes:
      - ./docker/data:/docker-entrypoint-initdb.d
    networks:
      - backend

  bot:
    build:
      context: ./
      dockerfile: ./docker/build/Dockerfile
    environment:
      MYSQL_USER: gobot
      MYSQL_PASSWORD: gobot
      MYSQL_DATABASE: gobot-pwd
      DB_HOST: tcp(db:3306)
      TOKEN_DISCORD: "${TOKEN_DISCORD}"
      API_KEY: "${TOKEN_DISCORD}"
    volumes:
      - ./:/go:rw
    networks:
      - backend

networks:
  backend:
    driver: "bridge"